<div class="zuipin-footer">
  <div class="container">
    <!-- 服务区域 -->
    <ul class="footer-service clearfix">
      <li class="float-left">原产地直供</li>
      <li class="float-left">1000家合作社联盟</li>
      <li class="float-left">10万亩茶园直供</li>
      <li class="float-left">90天商品保价</li>
      <li class="float-left">30天商品退换货</li>
      <li class="float-left">满59元免运费</li>
    </ul>
    <!-- 链接区域 -->
    <div class="footer-links clearfix">
      <!-- 链接列表 -->
      <dl class="col-link float-left">
        <dt>购物指南</dt>
        <dd>
          <a href="#">购物保障</a>
        </dd>
        <dd>
          <a href="#">积分政策</a>
        </dd>
        <dd>
          <a href="#">企业用户</a>
        </dd>
      </dl>
      <dl class="col-link float-left">
        <dt>配送方式</dt>
        <dd>
          <a href="#">快递资费</a>
        </dd>
        <dd>
          <a href="#">配送时间</a>
        </dd>
        <dd>
          <a href="#">配送范围</a>
        </dd>
        <dd>
          <a href="#">验货签收</a>
        </dd>
      </dl>
      <dl class="col-link float-left">
        <dt>支付方式</dt>
        <dd>
          <a href="#">货到付款</a>
        </dd>
        <dd>
          <a href="#">在线支付</a>
        </dd>
        <dd>
          <a href="#">网银在线</a>
        </dd>
        <dd>
          <a href="#">银行转账</a>
        </dd>
      </dl>
      <dl class="col-link float-left">
        <dt>售后服务</dt>
        <dd>
          <a href="#">退换货原则</a>
        </dd>
        <dd>
          <a href="#">退换货要求</a>
        </dd>
        <dd>
          <a href="#">运费规则</a>
        </dd>
        <dd>
          <a href="#">退换货流程</a>
        </dd>
      </dl>
      <dl class="col-link float-left">
        <dt>OMO体验店</dt>
        <dd>
          <a href="#">加盟政策</a>
        </dd>
        <dd>
          <a href="#">网点分布</a>
        </dd>
        <dd>
          <a href="#">合作加盟</a>
        </dd>
      </dl>
      <dl class="col-link float-left">
        <dt>关于醉品</dt>
        <dd>
          <a href="#">关于我们</a>
        </dd>
        <dd>
          <a href="#">醉品动态</a>
        </dd>
        <dd>
          <a href="#">媒体声音</a>
        </dd>
        <dd>
          <a href="#">品牌集成</a>
        </dd>
      </dl>   
      <!-- 联系客服 -->
      <div class="col-contact float-left">
        <p class="phone">4006-066-068</p>
        <p class="msg">周一至周日 08:40-22:30</p>
        <a href="#"><i></i>在线客服</a>
      </div>
      <!-- 二维码 -->
      <div class="col-code float-left">
        <img src="../public/image/phone_qr.jpg">
        <p>醉品茶城手机版</p>
      </div>
    </div>
  </div>
  <!-- 底部信息 -->
  <div class="footer-box">
    <div class="container clearfix">
      <img src="../public/image/zui.png" class="float-left">
      <!-- 版权 -->
      <div class="zuipin-info float-left">
        <ul class="clearfix">
          <li class="float-left">
            <a href="#">关于我们</a>
          </li>
          <li class="float-left">
            <a href="#">版权申明</a>
          </li>
          <li class="float-left">
            <a href="#">成为代理商</a>
          </li>
          <li class="float-left">
            <a href="#">联系我们</a>
          </li>
        </ul>
        <p class="copy">© 2010 - 2019 醉品茶城 厦门醉品春秋网络科技有限公司</p>
        <p class="zuipin">zuipin.cn All Rights Reserved <a href="#">闽ICP备10200063号-1</a></p>
      </div>
      <!-- zuipin图片 -->
      <img src="../public/image/pincha.png" class="zuipin-pic float-left">
      <!-- 合作 -->
      <ul class="info-links clearfix float-right">
        <li class="float-left">
          <a href="#">
            <span>海峡两岸茶业交流协会</span>
            <br>
            <span>互联网分会</span>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <span>315安全服务</span>
            <br>
            <span>保障认证</span>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <span>可信网站</span>
            <br>
            <span>示范企业</span>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <span>安全联盟</span>
            <br>
            <span>实名验证</span>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <span>工商执照</span>
            <br>
            <span>经营允许</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
