<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g_醉品商城</title>
  <link rel="shortcut icon" href="../public/image/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/footer.css">
  <link rel="stylesheet" href="../public/css/goods_details.css">
</head>
<body>
  <!-- 页面头 -->
  <% include ./header.html%>
  <!-- 详情主体部分 -->
  <div class="content">
    <div class="container">
      <!-- 路径导航 -->
      <ul class="breadcrumb clearfix">
        <li class="float-left"><a href="#">首页</a></li>
        <li class="float-left"><a href="#">绿茶</a></li>
        <li class="float-left"><a href="#">龙井</a></li>
        <li class="float-left"><a href="#">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</a></li>
      </ul>
      <!-- 商品详情 -->
      <div class="goodSth clearfix">
        <!-- 图片 -->
        <div class="picFouce float-left clearfix">
          <div class="s-img float-left">
            <a href="#" class="arrow up"></a>
            <ul id="pics">
              <!-- <li class="on"><a href="#"><img src="../public/image/details_1.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_2.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_3.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_4.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_5.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_6.jpg"></a></li>
              <li><a href="#"><img src="../public/image/details_7.jpg"></a></li> -->
            </ul>
            <a href="#" class="arrow down"></a>
          </div>
          <ul class="l-img float-left">
            <li class="show">
              <img id="lg_pic" src="">
            </li>
          </ul>
        </div>
        <!-- 项目目录 -->
        <div id="detail" class="g-item float-right">
          <!-- <h1>一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</h1>
          <p class="sec-title">核心原产区西湖，香味鲜浓</p>
          <ul class="price-list">
            <li class="clearfix">
              <span class="float-left">市场价</span>
              <span class="float-left">￥&nbsp;<del>235.00</del></span>
            </li>
            <li class="clearfix">
              <span class="float-left">醉品价</span>
              <span class="float-left"><i>￥</i>&nbsp;138.00</span>
            </li>
            <li class="clearfix">
              <span class="float-left">促销</span>
              <div class="float-left">
                <p><span>包邮</span>全场在线支付满59元免运费</p>
                <p><span>直降</span>已优惠97.00元</p>
              </div>
            </li>
          </ul>
          <ul class="pingpai-list clearfix">
            <li class="float-left">
              <span>品牌</span>
              <span>一匠一品</span>
            </li>
            <li class="float-left">
              <span>净含量</span>
              <span>50g</span>
            </li>
            <li class="float-left">
              <span>商品编号</span>
              <span>8699820</span>
            </li>
          </ul>
          <ul class="cart">
            <li class="clearfix">
              <span class="float-left">数量</span>
              <div class="float-left">
                <button>-</button>
                <input type="text" value="1">
                <button>+</button>
              </div>
            </li>
            <li>
              <a href="#">加入购物车</a>
            </li>
          </ul> -->
          <ul class="g-fw clearfix">
            <li class="float-left">服务</li>
            <li class="float-left">90天商品保价</li>
            <li class="float-left">30天无理由退货</li>
            <li class="float-left">10分钟极速退款</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="list-src">
    <div class="container">
      <ul id="nav" class="goods-sth clearfix">
        <li class="float-left">
          <img id="sm_pic" src="">
        </li>
        <!-- <li class="float-left">
          <p></p>
          <p class="price">￥<span>138.00</span></p>
        </li> -->
      </ul>
      <ul class="details clearfix">
        <li class="float-left">详情描述</li>
        <li class="float-left">评论晒单(689)</li>
      </ul>
      <div class="goods-cart">
        <a href="#">加入购物车</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ul id="intoduce" class="goods-guige clearfix">
      <!-- <li class="float-left"><span>规格：</span>50g/盒<span></span></li>  
      <li class="float-left"><span>产地：</span>浙江杭州<span></span></li>  
      <li class="float-left"><span>食品生产许可证：</span>SC11433010613361<span></span></li>  
      <li class="float-left"><span>采摘季节：</span>雨前<span></span></li>  
      <li class="float-left"><span>储藏方法：</span>防潮湿、防异味、避光、冷藏为宜<span></span></li>  
      <li class="float-left"><span>保质期：</span>18个月<span></span></li>  
      <li class="float-left"><span>等级：</span>特级<span></span></li>  
      <li class="float-left"><span>包装规格：</span>长7.6cm*宽7.6cm*高12.3cm<span></span></li>   -->
    </ul>
    <div id="p_details" class="imgs">
      <!-- <img src="../public/image/goods_details_1.jpg">
      <img src="../public/image/goods_details_2.jpg">
      <img src="../public/image/goods_details_3.jpg">
      <img src="../public/image/goods_details_4.jpg">
      <img src="../public/image/goods_details_5.jpg">
      <img src="../public/image/goods_details_6.jpg">
      <img src="../public/image/goods_details_7.jpg">
      <img src="../public/image/goods_details_8.jpg">
      <img src="../public/image/goods_details_9.jpg">
      <img src="../public/image/goods_details_10.jpg">
      <img src="../public/image/goods_details_11.jpg">
      <img src="../public/image/goods_details_12.jpg">
      <img src="../public/image/goods_details_13.jpg">
      <img src="../public/image/goods_details_14.jpg">
      <img src="../public/image/goods_details_15.jpg">
      <img src="../public/image/goods_details_16.jpg"> -->
    </div>
    <div class="imgs">
        <img src="../public/image/goods_details_a.jpg">
        <img src="../public/image/goods_details_b.jpg">
        <img src="../public/image/goods_details_c.jpg">
        <img src="../public/image/goods_details_d.jpg">
        <img src="../public/image/goods_details_e.jpg">
        <img src="../public/image/goods_details_f.jpg">
        <img src="../public/image/goods_details_g.jpg">
        <img src="../public/image/goods_details_h.jpg">
        <img src="../public/image/goods_details_i.jpg">
        <img src="../public/image/goods_details_j.jpg">
        <img src="../public/image/goods_details_k.jpg">
      </div>
  </div>
  <!-- 页面尾 -->
  <% include ./footer.html%>
</body>
</html>
<script src="../public/js/ajax.js"></script>
<script src="../public/js/jquery-3.2.1.js"></script>
<script src="../public/js/header.js"></script>
<script src="../public/js/goods_details.js"></script>