<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>龙井_龙井价格表_龙井品牌_醉品商城</title>
  <link rel="shortcut icon" href="../public/image/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/footer.css">
  <link rel="stylesheet" href="../public/css/goods_list.css">
</head>
<body>
  <!-- 头部 -->
  <% include ./header.html%>
  <div class="content">
    <div class="container">
      <!-- 商品路径 -->
      <ul class="now-page clearfix">
        <li class="float-left">
          <a href="#">首页</a>
        </li>
       <!-- <li class="float-left">/</li>
         <li class="float-left">
          <a href="#">绿茶</a>
        </li> -->
        <!-- <li class="float-left">/</li>
        <li class="float-left">
          <a href="#">龙井</a>
        </li> -->
      </ul>
      <!-- 商品轮播图 -->
      <div class="banner">
        <!-- 轮播图片 -->
        <ul class="bd clearfix">
          <li class="float-left">
            <a href="#">
              <img src="../public/image/longjin1.jpg">
            </a>
          </li>
          <li class="float-left">
            <a href="#">
              <img src="../public/image/longjing2.jpg">
            </a>
          </li>
          <li class="float-left">
            <a href="#">
              <img src="../public/image/longjing3.jpg">
            </a>
          </li>
        </ul>
        <!-- 轮播图小圆点 -->
        <ul class="hd clearfix">
          <li class="float-left"></li>
          <li class="float-left"></li>
          <li class="float-left"></li>
        </ul>
      </div>
      <!-- 品类列表 -->
      <ul id="list" class="list category-list clearfix">
        <li class="float-left"><a href="javascript:;">品类</a><span>:</span></li>
        <!-- <li class="float-left"><a href="#">全部</a></li>
        <li class="float-left"><a class="on" href="#">龙井</a></li>
        <li class="float-left"><a href="#">四川绿茶</a></li>
        <li class="float-left"><a href="#">安吉白茶</a></li>
        <li class="float-left"><a href="#">信阳毛尖</a></li>
        <li class="float-left"><a href="#">碧螺春</a></li>
        <li class="float-left"><a href="#">黄山毛峰</a></li>
        <li class="float-left"><a href="#">六安瓜片</a></li>
        <li class="float-left"><a href="#">太平猴魁</a></li>
        <li class="float-left"><a href="#">广西绿茶</a></li> -->
      </ul>
      <!-- 品类列表 -->
      <div class="sel-list">
        <!-- 品牌列表 -->
        <ul id="brand" class="list clearfix">
          <li class="float-left"><a href="javascript:;">品牌</a><span>:</span></li>
          <li class="float-left"><a class="on" href="javascript:;">全部</a></li>
          <!-- <li class="float-left"><a href="#">醉品朴茶</a></li>
          <li class="float-left"><a href="#">顶峰</a></li>
          <li class="float-left"><a href="#">狮牌</a></li>
          <li class="float-left"><a href="#">其他品牌</a></li>
          <li class="float-left"><a href="#">一匠一品</a></li> -->
        </ul>
        <!-- 用途列表 -->
        <ul class="list clearfix">
          <li class="float-left"><a href="#">用途</a><span>:</span></li>
          <li class="float-left"><a class="on" href="#">全部</a></li>
          <li class="float-left"><a href="#">送礼(简装礼盒)</a></li>
        </ul>
        <!-- 列表项 -->
        <div class="list-items clearfix">
          <ul class="float-right clearfix">
            <li class="float-left"><a class="on" href="#">销量</a></li>
            <li class="float-left"><a href="#">新品</a></li>
            <li class="float-left"><a href="#">价格</a></li>
            <li class="float-left"><a href="#">评论最多</a></li>
          </ul>
        </div>
      </div>
      <!-- 商品列表 -->
      <div id="goods_list" class="goods-list clearfix">
        <!-- <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl>
        <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl>
        <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl>
        <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl>
        <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl>
        <dl class="item float-left">
          <dt>
            <a href="#">
              <img src="../public/image/goods_1.jpg">
            </a>
          </dt>
          <dd class="good-intr">
            <p class="big-title">一匠一品 2018年西湖龙井炒茶王仇晓华代表作 特级 50g</p>
            <p class="sec-title">  核心原产区西湖，香味鲜浓  </p>
            <p class="price">￥138</p>
            <p class="pinjia"><span>1394</span>人好评</p>
          </dd>
          <dd class="cart-show">
            <p>加入购物车</p>
          </dd>
        </dl> -->
      </div>
      <!-- 分页 -->
      <div class="page-wrap">
        <div class="page clearfix">
          <ul id="page_list" class="float-left clearfix">
            
            
            <!-- <li class="float-left"><a href="#">2</a></li>
            <li class="float-left"><a href="#">3</a></li>
            <li class="float-left"><a href="#">4</a></li>
            <li class="float-left"><a href="#">5</a></li> -->

          </ul>
          <div class="page-search float-left clearfix">
            <span id="page">共5页</span>
            <span>到第<input type="text">页</span>
            <button>确定</button>          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 页尾 -->
  <% include ./footer.html%>
</body>
</html>
<script src="../public/js/ajax.js"></script>
<script src="../public/js/jquery-3.2.1.js"></script>
<script src="../public/js/header.js"></script>
<script src="../public/js/goods_list.js"></script>
