<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页 醉品商城-茶叶、茶具一站式网上购物商城：铁观音，金骏眉，红茶，绿茶，大红袍，普洱茶，茶具</title>
  <link rel="shortcut icon" href="../public/image/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/footer.css">
  <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
  <!-- 页面头部 -->
  <% include ./header.html %>
  <!-- 页面主题 -->
  <div class="banner">
    <div class="container">
      <!-- 左边对联图片 -->
      <div class="top-left">
        <a href="#">
          <img src="../public/image/l.jpg">
        </a>
      </div>
      <!-- 轮播图 -->
      <div class="slide-box">
        <img src="../public/image/banner1.jpg">
      </div>
      <!-- 右边对联图片 -->
      <div class="top-right">
        <a href="#">
          <img src="../public/image/r.jpg">
        </a>
      </div>
    </div>
  </div>
  <!-- 广告区域 -->
  <div class="ad">
    <div class="container">
      <div class="top-ad">
        <img src="../public/image/ad1.jpg">
        <a href="#">
          <img src="../public/image/ad2.png">
        </a>
      </div>
      <div class="ad-banner">
        <a href="#">
          <img src="../public/image/sf_01.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_02.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_03.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_04.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_05.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_06.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_07.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_08.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_09.png">
        </a>
        <a href="#">
          <img src="../public/image/sf_10.png">
        </a>
      </div>
    </div>
  </div>
  <!-- 特色区域 -->
  <div class="sup">
    <div class="container">
      <div class="border-line"></div>
      <div class="sup-box">
        <a href="#">
          <img src="../public/image/sup1.jpg" alt="">
        </a>
        <a href="#">
          <img src="../public/image/sup2.jpg" alt="">
        </a>
        <a href="#">
          <img src="../public/image/sup3.jpg" alt="">
        </a>
        <a href="#">
          <img src="../public/image/sup4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <!-- 特价 -->
  <div class="special">
    <div class="container">
      <div class="special-title clearfix">
        <div class="special-logo float-left">
          <img src="../public/image/special.png">
        </div>
        <h2 class="float-left">限时<span>特价</span></h2>
        <p class="line float-left">|</p>
        <p class="text float-left">总有你想不到的低价</p>
        <div class="timer float-right">
          <span>距离结束:</span>
          <span class="day">1天</span>
          <span class="time-data hour">03</span>
          <span class="time-code">:</span>
          <span class="time-data min">30</span>
          <span class="time-code">:</span>
          <span class="time-data second">30</span>
        </div>
      </div>
      <div class="special-content">
        <ul class="slide-item clearfix">
          
        </ul>
      </div>
    </div>
  </div>
  <!-- 自饮 -->
  <div id="drink" class="drink-item">
    <div class="container">
      <!-- 自饮标题 -->
      <div class="card-title">自饮</div>
      <!-- 自饮内容 -->
      <div class="card-content clearfix">
        <!-- 1.左边 -->
        <div class="card-left float-left">
          <a href="#">
            <img src="../public/image/drinke.jpg">
          </a>
          <a href="#">
            <h2>自饮助手</h2>
            <p class="text-more">自己喝的茶</p>
            <p class="text-more">包装不用太复杂</p>
            <img src="../public/image/more.png">
          </a>
        </div>
        <!-- 2.中间 -->
        <div id="dr" class="card-center float-left clearfix">
          <!-- <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/drink_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/drink_icon.png">
          </a> -->
        </div>
        <!-- 3.右边 -->
        <div class="card-right float-left">
          <div class="news-list">
            <h2>自饮锦囊</h2>
            <div class="news-content">
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
            </div>
          </div>
          <a href="#">
            <h2>浏览更多</h2>
            <p class="more-text">想要喝茶，不知如何选</p>
            <p class="more-text">这里有一只锦囊！</p>
            <img src="../public/image/more.png">
          </a>
        </div>
      </div>
  </div>
  <!-- 送礼 -->
  <div id="song" class="drink-item">
    <div class="container">
      <!-- 送礼标题 -->
      <div class="card-title">送礼</div>
      <!-- 自饮内容 -->
      <div class="card-content clearfix">
        <!-- 1.左边 -->
        <div class="card-left float-left">
          <a href="#">
            <img src="../public/image/song.jpg">
          </a>
          <a href="#">
            <h2>自饮助手</h2>
            <p class="text-more">自己喝的茶</p>
            <p class="text-more">包装不用太复杂</p>
            <img src="../public/image/more.png">
          </a>
        </div>
        <!-- 2.中间 -->
        <div id="gift" class="card-center float-left clearfix">
          <!-- <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_1.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_2.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_3.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_2.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_2.png">
          </a>
          <a href="#" class="float-left">
            <img class="top_img" src="../public/image/song_1.jpg">
            <p class="f-title">醉品朴茶 2018年金骏眉 口碑好茶 皇冠100g</p>
            <p class="s-title">头采茶，蜜香浓郁，口感甘甜</p>
            <p class="price">￥138</p>
            <img class="d_icon" src="../public/image/song_icon_4.png">
          </a> -->
        </div>
        <!-- 3.右边 -->
        <div class="card-right float-left">
          <div class="news-list">
            <h2>送礼锦囊</h2>
            <div class="news-content">
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
              <a href="#">
                <p>世界杯冠军——爱喝茶的法国人</p>
                <div class="clearfix">
                  <img class="float-left" src="../public/image/new1.png">
                  <p class="float-left" title="今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛">今天凌晨，法国人在莫斯科高高举起大力神杯。时隔20年，法国再次问鼎世界杯冠军，才华横溢的法国年轻一代刮起高卢雄风。提起法国，很多人马上会联想到红酒、香槟，却不知，在这个以浪漫著称的国度，喝茶之风如此盛</p>
                </div>
              </a>
            </div>
          </div>
          <a href="#">
            <h2>浏览更多</h2>
            <p class="more-text">想要喝茶，不知如何选</p>
            <p class="more-text">这里有一只锦囊！</p>
            <img src="../public/image/more.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- 茶器/茶食 -->
  <div class="tea-box">
    <div class="container">
      <!-- 标题 -->
      <h2 class="tea-title">茶器/茶食</h2>
      <!-- 茶具 -->
      <ul id="tea_1" class="clearfix">
        <li class="float-left">
          <a href="#">
            <img class="tea-img" src="../public/image/teaThings.jpg" alt="" srcset="">
          </a>
        </li>
        <!-- <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_1_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_1_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_1_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_1_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li> -->
      </ul>
      <ul id="tea_2" class="clearfix">
        <li class="float-left">
          <a href="#">
            <img class="tea-img" src="../public/image/teaSet.jpg" alt="" srcset="">
          </a>
        </li>
        <!-- <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_2_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_2_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_2_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/tea_2_1.jpg">
            <p class="f-title">醉品专属定制 建盏 幻蓝禅定 金油滴 单杯</p>
            <p class="s-title">衬茶香 喝茶不烫手</p>
            <p class="price">￥95</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- 热门商品 -->
  <div class="hot-goods">
    <div class="container">
      <h2>热评商品<b>|</b><span>评价,您的好茶</span></h2>
      <ul id="hot" class="clearfix">
        <!-- <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <img src="../public/image/hot_1.jpg">
            <p class="f-title">正山小种茶很不错，言之确实，茶干清爽、型正，汤色红润，也蛮耐泡。包装精细到位，很满意。还附送了几小包红茶和一个红包，非常感谢。</p>
            <p class="s-title">来自o2jamcool的评价</p>
            <p class="price">醉品叶界 正山小种 210g<b>|</b><span>￥588.00</span></p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- 醉品头条 -->
  <div class="zuipin-top">
    <div class="container">
      <div class="top-header clearfix">
        <h2 class="float-left">醉品头条<b>|</b><span>带您了解醉品</span></h2>
        <a class="float-right" href="#">浏览更多</a>
      </div>
      <ul class="clearfix">
        <li class="float-left">
          <a href="#">
            <div class="top_img">
              <img src="../public/image/zuipin_1.jpg">
            </div>
            <P class="f-title">醉品茶城年终狂欢盛典|欢庆中国年，百福送到家</P>
            <P class="s-title">2019年1月3日，醉品茶城开启了为期一个月的春节年货场活动，以爱之茗，结合中华传统的“福”，推出了“醉品中国年，百福送到家”的年终盛典，力图为所有消费者献上春节送礼的狂欢钜惠活动。</P>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <div class="top_img">
              <img src="../public/image/zuipin_2.jpg">
            </div>
            <P class="f-title">醉品茶城年终狂欢盛典|欢庆中国年，百福送到家</P>
            <P class="s-title">2019年1月3日，醉品茶城开启了为期一个月的春节年货场活动，以爱之茗，结合中华传统的“福”，推出了“醉品中国年，百福送到家”的年终盛典，力图为所有消费者献上春节送礼的狂欢钜惠活动。</P>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <div class="top_img">
              <img src="../public/image/zuipin_3.jpg">
            </div>
            <P class="f-title">醉品茶城年终狂欢盛典|欢庆中国年，百福送到家</P>
            <P class="s-title">2019年1月3日，醉品茶城开启了为期一个月的春节年货场活动，以爱之茗，结合中华传统的“福”，推出了“醉品中国年，百福送到家”的年终盛典，力图为所有消费者献上春节送礼的狂欢钜惠活动。</P>
          </a>
        </li>
        <li class="float-left">
          <a href="#">
            <div class="top_img">
              <img src="../public/image/zuipin_4.jpeg">
            </div>
            <P class="f-title">醉品茶城年终狂欢盛典|欢庆中国年，百福送到家</P>
            <P class="s-title">2019年1月3日，醉品茶城开启了为期一个月的春节年货场活动，以爱之茗，结合中华传统的“福”，推出了“醉品中国年，百福送到家”的年终盛典，力图为所有消费者献上春节送礼的狂欢钜惠活动。</P>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 页面尾部 -->
  <%include ./footer.html %>
</body>
</html>
<script src="../public/js/ajax.js"></script>
<script src="../public/js/jquery-3.2.1.js"></script>
<script src="../public/js/index.js"></script>
<script src="../public/js/header.js"></script>
